
.srchBar{
    --border-radius: 15px;
    --box-shadow : 0 0 10px rgba(0, 0, 0, 0.4);
    --icon-color:#0057e7;
    outline: none;
  }

  
.notif-btn{
    width: auto;
    padding: 10px;
    background-color: transparent;
    font-size: 36pt;
    border: none;
    position: relative;
}


.card{
  width: 95vw;
  max-height: 400px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
  margin: auto;
  margin-top: 15px;
  padding: 8px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.network-alert{
  width: 97%;
  padding:8px;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  background-color: red;
  color: white;
}